/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.extra-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.central-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem 6rem;
}
.central-section:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
}

#big-article > .central-section:nth-child(even) {
  background-color: #f6f6f6;
}

#big-article > .central-section:nth-child(4) {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-size: 48px;
  font-weight: 800;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 200;
}

.bottoni {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  color: white;
  border-radius: 28px;
  font-size: 20px;
  background-color: #5865f2;
  border: none;
}

#botton {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}

#immaginegrande {
  width: 1200px;
  margin-top: -4rem;
}

#download {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#footer-section {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2.5em;
  background-color: #23272a;
}

#footer-section * {
  list-style: none;
  text-decoration: none;
}

#footer-section ul {
  color: #5865f2;
  font-size: 16px;
}

#footer-section ul li {
  padding-top: 20px;
}

#footer-section ul a {
  color: white;
  font-size: 16px;
}
